.tarjetas{
    color: black;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 16%;
    background: whitesmoke;
    height: fit-content;
}

.tarjetas p{
    font-size: medium;
}

.tarjetas h2{
    font-size: 20px;
}

.tarjetas img{
    width: 100%;
    margin-bottom: 20px; 
}

.tarjetas a{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.verMenos{
    display: none;
 }
 
 .verMas{
    display: block;
 }



 @media(max-width: 430px){

    .tarjetas{
        color: black;
        font-size: 20px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: whitesmoke;
        height: fit-content;
        width: fit-content;
    }
 }