.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

.error h1{
    font-size: 100px;
}

.error p{
    font-size: 30px;
}


@media(max-width: 430px){
    .error h1{
        font-size: 90px;
    }
}